<section class="bg-light py-5  px-3 px-md-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto  py-5 px-3 px-md-5 bg-white shadow-sm">
                <h3 class="h5 fw-semibold text-primary mb-4 ">Login now</h3>
                <form>
                    <input class="form-control py-2 my-3 bg-light" type="email" placeholder="Type Your Email">
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Type Your Password">
                </form>
                <button class="btn btn-primary my-3 fs-6 fw-medium px-3 ">Sign in</button>
                <p class="fw-medium fs-6">Not registered? <a routerLink="/register" class="text-primary ms-1">Create account</a></p>
            </div>
        </div>
    </div>
</section>