<section class="bg-light py-5  px-3 px-md-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto  py-5 px-3 px-md-5 bg-white shadow-sm">
                <h3 class="h5 fw-semibold text-primary mb-4 ">Change Password </h3>
                <form>
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Type Your Old Password">
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Type Your New Password">
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Confirm Password">
                </form>
                <button class="btn btn-primary my-3 fs-6 fw-medium px-3 ">Change</button>
            </div>
        </div>
    </div>
</section>