<section class="bg-light  py-5  px-3 px-md-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto py-5 px-3 px-md-5 bg-white shadow-sm">
                <div class="d-flex justify-content-between">
                    <h3 class="h5 fw-semibold text-primary mb-4 ">Add new post</h3>
                    <i class="fa-solid fa-x text-muted  fs-small"></i>
                </div>
                <form>
                    <textarea rows="3" class="form-control py-2 my-3 bg-light" type="text" placeholder="Write your thoughts here ...."></textarea>
                    <input class="form-control py-2 my-3 bg-light" type="file" placeholder="Type Your Name">

                </form>
                <div class="d-flex  mt-4">
                    <button class="btn btn-primary   fs-6 fw-medium px-3  me-2">Post</button>
                    <button class="text-danger bg-transparent border-0   fs-6 fw-medium px-3  ">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>