<section class="bg-light  py-5  px-3 px-md-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto py-5 px-3 px-md-5 bg-white shadow-sm">
                <h3 class="h5 fw-semibold text-primary mb-4 ">Register now</h3>
                <form>
                    <input class="form-control py-2 my-3 bg-light" type="text" placeholder="Type Your Name">
                    <input class="form-control py-2 my-3 bg-light" type="email" placeholder="Type Your Email">
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Type Your Password">
                    <input class="form-control py-2 my-3 bg-light" type="password" placeholder="Confirm Password">
                    <input class="form-control py-2 my-3 bg-light" type="text" placeholder="Select Date">
                    <div class="d-flex my-3 py-2">
                        <div class="d-flex me-3">
                            <input type="radio" name="gender" id="male">
                            <label class="fw-semibold ms-1" for="male">Male</label>
                        </div>
                        <div class="d-flex">
                            <input type="radio" name="gender" id="female">
                            <label class="fw-semibold ms-1" for="female">Female</label>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary my-3  fs-6 fw-medium px-3 ">Sign up</button>
                <p class=" fw-medium fs-6">Have an account? <a routerLink="/login" class="text-primary ms-1">Sign In</a></p>
            </div>
        </div>
    </div>
</section>